@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("https://store.cloudflare.steamstatic.com/public/images/v6/colored_body_top.png?v=2");
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #1b2838;
  }